# Python
__pycache__/
*.pyc

# Data files (optional depending on size)
data/raw/*
data/processed/*

# Notebooks checkpoints
.ipynb_checkpoints/

# Mac
.DS_Store

# Environment
.env
venv/

venv310/
logs.log